body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#root{
    height: 100%;
}

.flex{
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.h-100vh{
    height: 100vh;
}

.h-100-per{
    height: 100%;
}

.h-90-per{
    height: 90%;
}

.font-serif {
    font-family: serif;
}

.black-border {
    padding: 25px;
    border: black 1px solid;
}

.error-message {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}